
@model TODOApplication.Models.EntityFramework.Kullanici
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lütfen Giriş Yapınız</h3>
                    </div>
                    <div class="panel-body"> @ViewBag.Mesaj</div>

                    @using (Html.BeginForm("Login", "Security", FormMethod.Post))
                    {
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Username)
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Parola", type = "password" })
                                    </div>

                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Giriş Yap">
                                    @Html.ActionLink("Profil Oluştur","SignIn","Kullanici",null,new { @class ="btn btn-lg btn-info btn-block"})
                                </fieldset>
                            </form>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</body>
</html>
