@using TODOApplication.Models.EntityFramework
@model List<Content>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />

<h2>Günlük Liste</h2>
<table class="table table-bordered" id="tblContentsToday">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Content</th>
            <th>Düzenle</th>
            <th>Durum</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var content in Model)
        {
        <tr>
            <td>@content.Date.Value.ToShortDateString()</td>
            <td>@content.Message</td>
            <td>@Html.ActionLink("Güncelle", "Guncelle", new { id = content.Id }, new { @class = "btn btn-success" })</td>
            <td>@Html.ActionLink("Tamamlandı", "Done", new { id = content.Id }, new { @class = "btn btn-info" })</td>
            <td><a class="btn btn-warning btnContentSilToday" data-id="@content.Id">Sil</a></td>
        </tr>
        }

    </tbody>
</table>
